<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/slick-theme.css">
    <link rel="stylesheet" href="~/Css/normalize.css">
    <link rel="stylesheet" href="~/Css/font-awesome.css">
    <link rel="stylesheet" href="~/Css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>

    <!--    Start  NavBar    -->
    @Html.Partial("_Navbar")
    <!--    End NavBar    -->
    <!--#region    Start  Intro Header    -->
    <div class="header other">
        <div class="other_cover">

            <div class="container">
                <h1>@ViewBag.Message</h1>
            </div>

        </div>
    </div>
    <!--#endregion    Intro Header    -->
    @RenderBody()

    <!--Footer-->
    @Html.Partial("_Footer")
    <!--End Footer-->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/test.js"></script>
</body>
</html>
